/* login/register buttons */
.button-87 {
  margin: 10px;
  padding: 8px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: #ffffff;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #EDAB3A;
  background-image: linear-gradient(45deg, #EDAB3A 0%, #EDAB3A  51%, #1D7B4B  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-87:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.button-87:active {
  transform: scale(0.95);
}

.button-88 {
    margin: 10px;
    padding: 8px 22px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: #f4f2f2;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #EDAB3A;
    background-image: linear-gradient(45deg, #d8461e 0%, #EDAB3A  51%, #e7acac  100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-88:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
  
.button-88:active {
    transform: scale(0.95);
}

.button-89 {
    margin: 10px;
    padding: 8px 22px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: #f4f2f2;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #EDAB3A;
    background-image: linear-gradient(45deg, #1D7B4B 0%, #EDAB3A  51%, #e7acac  100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-89:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
  
.button-89:active {
    transform: scale(0.95);
}

.nav-changer{
    color: #ffffff;
    font-size: 25px;
    font-family: 'Comfortaa', cursive;
}

.nav-changer:hover{
    color:#EDAB3A;
}

.formfont{
    color: #ffffff;
    font-family: 'Comfortaa', sans-serif;
}

.formfont2{
    color: #ffffff;
    font-size: 50px;
    font-family: 'Ubuntu', sans-serif;
}

.formfontblk{
    color: black;
    font-family: 'Comfortaa', sans-serif;
}

.formfontblkcard{
    color: black;
    font-family: 'Comfortaa', sans-serif;
    font-size: 20px;
}

.termsfont{
    color: #ffffff;
    font-family: 'Comfortaa', sans-serif;
    font-size: 12px;
}

.footerfont{
    color: #1D7B4B;
    font-size: 17px;
    font-family: 'Comfortaa', sans-serif;
}

.backgroundhome{
    background-color:#1D7B4B;
    color:#ffffff;
}

.footerfonttitle{
    color: #EDAB3A;
    font-size: 25px;
    font-family: 'Comfortaa', serif;
}

.fontevents{
    color: #EDAB3A;
    font-family: 'Comfortaa', sans-serif;
    font-size: 60px;
}

.fonteventsd{
    color: #EDAB3A;
    font-family: 'Ubuntu', sans-serif;
    font-size: 35px;
}

.fonthorario{
    color: #EDAB3A;
    font-family: 'Ubuntu', sans-serif;
}

.fonthorario:hover {
    color: #1D7B4B;
    font-family: 'Ubuntu', sans-serif;
}

.fonteventdet{
    color: #1D7B4B;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}

.navbar-toggler-icon {
    filter: invert(100%);
  }

.progresss {
    max-width: 150px; /* Set the height of the progress bar container */
}

.progress-bar-vertical {
    width: 100%; /* Set the width of the vertical bar */
    max-width: 150px;
    transition: height 0.6s;
    transform: rotate(90deg);
    transform-origin: left bottom;
}

.overflow-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9999;
  }