{% extends 'base_dashboard.html' %}

{% block content %} 
{% load static %}

  <p class="fonteventsd text-center">{{ event.name }}</p>

<div class="container row border border-5 rounded-4 p-3">
  <div class="col-lg-4 d-block">
    {% if event.min_img %}
      <div class="container"> <img src="{{ event.min_img.url }}" alt="Logo" class="d-inline-block align-text-top w-100"> </div>
    {% else %}
      <div class="container"> <img src="" alt="No hay imagen" class="d-inline-block align-text-top w-100"> </div>
    {% endif %}

      <div class="container border border-4 rounded-3 mt-3">
        <p class="formfontblkcard text-center">Horarios:</p>
          <div class="row align-content-center">
            {% for dateevent in date  %}
            <a href="{% url 'date_event_update' dateevent.date_event_id %}" class="formfontblk col-9 my-auto">{{ dateevent.date }}</a>
            <!-- Delete Button -->
            <button type="button" class="btn btn-danger btn-xs col-2 me-1 my-1" data-bs-toggle="modal" data-bs-target="#{{ dateevent.date_event_id }}">
            <i class="fa fa-trash"></i>
            </button>
            {% endfor %}
          </div>
        <p class="text-center"><a class="fonthorario" href="{% url 'event_date_new' event.event_id %}">Agregar Horario</a></p>
      </div>

  </div>

  <div class="col-lg-7 mx-auto">
    <div class="text-center fonteventdet">
      <span><h4>Lugar de Evento</h4></span>
      <div class=""> {{ event.location }} </div>
      <div> {{ event.city }} - {{ event.state }} - {{ event.country }} </div>

      <div class="row mt-2">
        <div class="col-6">
          <span><h4>Costo Boleto</h4></span>
          <div class="">$ {{ event.ticket_price }} </div>
        </div>
        <div class="col-6">
          <span><h4>Costo Servicio</h4></span>
          <div class="">$ {{ event.ticket_charge }} </div>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-6">
          <span><h4>Nivel Boleto</h4></span>
          <div class="">{{ event.ticket_level }} </div>
        </div>
        <div class="col-6">
          <span><h4>Promotor</h4></span>
          <div class="">{{ event.promoter }} </div>
        </div>
      </div>

      <span><h4>URL</h4></span>
      <div class="">{{ event.url }} </div>

      <div class="row mt-2">
        <div class="col-6">
          <span><h4>Valor mínimo</h4></span>
          <div class="">{{ event.min_price }} </div>
        </div>
        <div class="col-6">
          <span><h4>Valor máximo</h4></span>
          <div class="">{{ event.max_price }} </div>
        </div>
      </div>

    </div>

  </div>
</div>

{% for datee in date  %}
<!-- Modal -->
<div class="modal fade" id="{{ datee.date_event_id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar Horario</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Seguro que deseas eliminar a {{ datee.date }} 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="deleteEvent('{{ datee.date_event_id }}')">Eliminar</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}


<script>
  function deleteEvent(eventId) {
      // Send an AJAX request to delete the promoter with the given ID
      // Replace 'your_delete_url' with the actual URL for the delete view
      fetch(`/date_event/${eventId}/delete`, {
          method: 'DELETE',
          headers: {
              'X-CSRFToken': '{{ csrf_token }}',
          },
      })
      .then(response => response.json())
      .then(data => {
          // Handle the response, e.g., show a success message or update the promoter list
          console.log(data);

          // Close the modal
          $('#deleteModal' + eventId).modal('hide');

          // Refresh the page to show updated promoter list
          location.reload();
      })
      .catch(error => {
          // Handle errors
          console.error('Error:', error);
      });
  }
</script>



{% endblock content %}