{% extends 'base_dashboard.html' %}

{% block content %}

<div class="container">
    <h3 class="fontevents text-center">Suscriptores</h3>
</div>

<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Telefono</th>
        <th scope="col">Email</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for suscriber in suscribers  %}
      <tr>
        <th scope="row">{{ suscriber.first_name }} {{ suscriber.last_name }}</th>
        <td>{{ suscriber.telephone }}</td>
        <td>{{ suscriber.email }}</td>
        <td class="text-end col-1">
          <!-- Delete Button -->
          <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#{{ suscriber.user_id }}">
            Eliminar
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<a class="btn btn-success overflow-button px-3 rounded-4" href="{% url 'register_suscriber_admin' %}"><h2 class="m-auto text-light">
  +</h2>
</a>

{% for suscriber in suscribers  %}
<!-- Modal -->
<div class="modal fade" id="{{ suscriber.user_id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar Suscriptor</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Seguro que deseas eliminar a {{ suscriber.first_name }} {{ suscriber.last_name }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="deletePromoter('{{ suscriber.user_id }}')">Eliminar</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}


<script>
  function deletePromoter(promoterId) {
      // Send an AJAX request to delete the promoter with the given ID
      // Replace 'your_delete_url' with the actual URL for the delete view
      fetch(`/suscriber/${promoterId}/delete`, {
          method: 'DELETE',
          headers: {
              'X-CSRFToken': '{{ csrf_token }}',
          },
      })
      .then(response => response.json())
      .then(data => {
          // Handle the response, e.g., show a success message or update the promoter list
          console.log(data);

          // Close the modal
          $('#deleteModal' + promoterId).modal('hide');

          // Refresh the page to show updated promoter list
          location.reload();
      })
      .catch(error => {
          // Handle errors
          console.error('Error:', error);
      });
  }
</script>


{% endblock content %}