{% autoescape off %}

Hola {{ user.username }},

Hemos recibido una solicitud para restablecer la contraseña de tu cuenta asociada a esta dirección de correo electrónico. Para iniciar el proceso de restablecimiento de contraseña para tu cuenta, haz clic en el enlace de abajo.

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Este enlace solo se puede utilizar una vez. Si necesitas restablecer tu contraseña nuevamente, por favor visita: {{ protocol }}://{{domain}} y solicitar otro restablecimiento.

Si no realizaste esta solicitud, puedes ignorar este correo electrónico.

Sinceramente,
ButacaVentura

{% endautoescape %}